[Unit]
Description=Chromium Kiosk Mode for AmWeb
After=graphical.target

[Service]
ExecStart=/usr/bin/chromium --ozone-platform=wayland --kiosk <url>
Restart=always
User=fw_admin
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_SESSION_TYPE=wayland

[Install]
WantedBy=graphical.target